body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background:url("../media/mostafa media/loginbackground.jpg") ;
    background-size: cover;


   
}
form{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 520px;
    background: rgba(0, 0, 0, .5);
    border-radius: 15px;
    box-sizing: border-box;
}
h2{
    color: rgba(255, 255, 255, 0.849);
    text-align: center;
    margin-top: 90px;

}
.password{
    position: absolute;
    outline:none;
    border:none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #90b6e1;
    background: none;
    padding: 5px;
    color: #fff;
    ;
}
.name{
    position: absolute;
    outline:none;
    border:none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #90b6e1;
    background: none;
    padding: 5px;
    color: #fff;
}
.name{
    top: 140px;
    left: 50px;
}
.password{
    top: 210px;
    left: 50px;
}
::placeholder{
    color: rgba(255, 255, 255, 0.947);
}
.login{
    position: absolute;
    top: 305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #3f8de7;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
}
.login:hover{
    background-color: rgb(255, 255, 255);
    color: #3f8de7;
}
p{
    position: absolute;
    left: 50px;
    top: 350px;
    color: rgb(231, 238, 244);
    cursor: pointer;
}
p:hover{
    color:#90b6e1 ;
}
.register{
    position: absolute;
    top: 405px;
    left: 94px;
    width: 150px;
    height: 20px;
    background: #3f8de7;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
}
.register:hover{
 background-color: rgb(255, 255, 255);
color: #3f8de7;
}